<footer class="footer">
    <p>&copy; 2023 Craig Lawrence Derington.  Vires in numeris. Vires acquirit eundo.</p>
    <p><a href="https://nostr.directory/p/craig_derington" target="_blank"><i>npub1l8850pcxumdezx5yc40fq6dygqv3fm6y6t45zptdlrvrew2f044sz4yfv3</i></a></p>
    <p>
        <a href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=bc1qffmc54ksdujeed99c84yz6dzq9ywa7sa6m8p0n" target="_blank"><i class="icon fa fa-bitcoin"></i> bc1qffmc54ksdujeed99c84yz6dzq9ywa7sa6m8p0n</a>
    </p>
    <p>
        <i class="icon fa fa-key"></i> <a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0xe3d8b9f7043fde0b83cab9af0f2b665a061f6470" target="_blank">E3 D8 B9 F7 04 3F DE 0B 83 CA B9 AF 0F 2B 66 5A 06 1F 64 70</a>
    </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
