<footer class="footer">
    <p>&copy; 2025 Craig Lawrence Derington.  Vires in numeris. Vires acquirit eundo.</p>
    <!--<p><a href="https://nostr.directory/p/craig_derington" target="_blank"><i>npub1l8850pcxumdezx5yc40fq6dygqv3fm6y6t45zptdlrvrew2f044sz4yfv3</i></a></p>-->
    <p>
        <a href="https://mempool.space/address/bc1qffmc54ksdujeed99c84yz6dzq9ywa7sa6m8p0n" target="_blank"><i class="icon fa fa-bitcoin"></i> bc1qffmc54ksdujeed99c84yz6dzq9ywa7sa6m8p0n</a>
    </p>
    <p>
        <i class="icon fa fa-key"></i> <a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x59da1ef95cc57d132b1dc966b95f3c25f2ceb10d" target="_blank">59 DA 1E F9 5C C5 7D 13 2B 1D C9 66 B9 5F 3C 25 F2 CE B1 0D</a>
    </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
