<footer class="footer">
    <p>&copy; 2025 Craig Lawrence Derington.  Question Everything.</p>
    <!--<p><a href="https://nostr.directory/p/craig_derington" target="_blank"><i>npub1l8850pcxumdezx5yc40fq6dygqv3fm6y6t45zptdlrvrew2f044sz4yfv3</i></a></p>-->
    <p>
        <a href="https://mempool.space/address/bc1q4zwhv8nr5x80dwt79dhcjezm3xlpttafpturua" target="_blank"><i class="icon fa fa-bitcoin"></i> bc1q4zwhv8nr5x80dwt79dhcjezm3xlpttafpturua</a>
    </p>
    <p>
        <i class="icon fa fa-key"></i> <a href="https://keys.openpgp.org/search?q=59DA1EF95CC57D132B1DC966B95F3C25F2CEB10D" target="_blank">59 DA 1E F9 5C C5 7D 13 2B 1D C9 66 B9 5F 3C 25 F2 CE B1 0D</a>
    </p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
