<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="X Profile" target="_blank" href="https://twitter.com/craig_derington"><i class="icon fa fa-twitter-square" aria-hidden="true"></i></a>
        <a aria-label="Github Profile" target="_blank" href="https://github.com/craigderington"><i class="icon fa fa-code-fork" aria-hidden="true"></i></a>
        <a aria-label="GPG Private Key" target="_blank" href="https://keys.openpgp.org/search?q=59DA1EF95CC57D132B1DC966B95F3C25F2CEB10D"><i class="icon fa fa-key" aria-hidden="true"></i></a>
        <a aria-label="Strike" target="_blank" href="https://strike.me/cderington17"><i class="icon fa fa-bitcoin" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
